@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Serif+Display:ital@1&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media only screen and (min-width:320px) and (max-width:480px) {
    .planoDeFundo {
        position: absolute;
        min-width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: -100;
    }

    .cabeca {

        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .titulo {
        text-align: center;
        font: 25px "Black Ops One", "arial", "Helvetica", "sans-self";
    }

    .titulo2 {
        font: 30px "DM Serif Display", "arial", "Helvetica", "sans-self";
        letter-spacing: 3dvw;
        border-radius: 5%;
        padding-left: 10%;
        box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.705);
    }

    /* conteudo */
    .corpo {
        display: flex;
        height: 100vh;
    }
}

.conteudo {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

@media only screen and (min-width:768px) and (max-width:1024px) {}

@media only screen and (min-width:1024px) {}